/***** HEADER_DASHBOARD *****/
.header_dashboard {
	@extend %header;
}

/***** ASIDE *****/
.aside {
	display: block;
    border-collapse: collapse;
    background-color: black;
    width: 20%;
    height: 80vh;
    padding-bottom: 5rem;

    thead tr td {
        padding: 1rem;
        border: none;
    }

    tfoot td {
        padding-bottom: 10rem;
    }

    tbody tr td {
        text-align: center;
        border: 1px solid black;
        padding: 1rem;
        font-size: 2rem;
    }
}

/********** MAIN DASHBORD ***********/
#bar {
    display: none;
}

.dashbord {
    display: flex;

    .main {
        width: 80%;
        // margin: auto;
        // text-align: center;
        h1 {
            margin-top: 1rem;
            text-align: center;
        }
        .perso {
            border-collapse: collapse;
            width: 80%;
            text-align: center;
            margin: 50px auto;
    
            th {
                border: 1px solid red;
                width:60rem;
                padding: 1rem;
            }
    
            td {
                border: 1px solid red;
                width:60rem;
                padding: 1rem;
            }
        }
    }
}




/***** véhicule commandé *****/
.main_c {
	@extend %main_dashboard;

    .commande {
        @extend %table-dasboard;

        a {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
/***** Détail véhicule commander *****/
.main_d {
    @extend %main_dashboard;

    .detail {
        @extend %table-dasboard;

        img {
            width: 20rem;
        }     
    }
}


/***** véhicule en vente / modifier un véhicule*****/
.main #cars #product {
    @include div-products(25%)
}

/***** ajouter un véhicule *****/
.form_dashboard {
    @include form($background-form,35%,7rem);
    height: 50vh;

    .content,.price,.title {
        @extend %form-style-td;
    }

    td {
        margin-bottom: 5rem;
    }

    textarea{
        border: none;
        outline: none;
        background: none;
        font-size: 2rem;
        color: white;
        width: 100%;
    } 

    #name_addcars,#description_addcars,#price_addcars {

        &::placeholder{
            color: $background-form;
        } 
    }
    #name_editcars,#description_editcars,#price_editcars {

        &::placeholder{
            color: $background-form;
        } 
    }

    button {
        @extend %form-button;
    }
 
}

/***** modifier un véhicule *****/
.form_editcars {
    @include form($background-form,35%,7rem);
    height: 50vh;


}