/*************************************************/
/******************* RESPONSIVE ******************/
/*************************************************/

/*************** MAIN ***************/
/***** mobile 480px *****/
@media(max-width:480px) {
	// Accueil
	.header_visiteur {
		@extend %header-style;
	}

	.nav  {
		nav {
		 	display        : flex;
			flex-direction : column;
			text-transform : uppercase;
			letter-spacing : 1px;
			margin-bottom  : -73px;
			padding        : 2.5rem 0;
			margin         : 10px;
			text-align     : center;

			a {
				margin: 1rem;
			}
		}

		.member {	 
			@include member('column', 8rem);

			img {
				margin: 2rem;
			}			
		}
	}

	#slider {
		display: none;
	}
	#article article {
		display: none;
	}
	#cars  {
		display: block;

		#product {
			@include div-products(100%);
		}
	}

	// Product only
	#product_only {
		width: 100%;
	}
	
	// Product catégory

	.container {
		display: block;
		width: 80%;
		margin: 0 auto;
	}
	#product {
		@include div-products(100%);
	}

	/**** FORM ****/
	.form_login {
			width: 80%;
		}
	.form_register {
			width: 80%;
		}
	.form_contact {
			width: 80%;
		}

	.form_dashboard {
		width:80%
	}

	/**** DASHBORD ****/
	// Dashbord
	#bar {
		display: block;
		width: 100%;
	}

	.aside {
		position : fixed;
		width: 100%;
		display: none;
		transition: all 1s ease-out;
	}

	.aside.open {
		display: block;
        position : fixed;
        height: 100vh;
        z-index: 1;
        width: 100%;
	}
	.dashbord .main {
		margin: auto;
	}

	// Order
	.main_c .commande {
        width: 60%;
        font-size: 1.3rem;
    }

	// Cars sale
	.main #cars {
		width: 80%;
        margin: auto;

		#product {
			@include div-products(100%);
		}
	}

}



/***** tablette 481px - 960px *****/
@media(min-width:481px) and (max-width:960px){
	.header_visiteur {
		 @extend %header;
	}
	
	.container {
		width: 70%;
		margin: auto;

		#article article {
		display: none;
		}
	}
	
	#cars  {
		@extend %div-cars;

		#product {
			@include div-products(40%);
		}
	}
}

/*************** DASHBORD ***************/
/***** tablette 481px - 960px *****/
@media only screen and (min-width:481px) and (max-width:960px) {
    .dashbord #cars {
		display: flex;
		width: 100%;
    }
    .main_c .commande {
        width: 80%;
        font-size: 1.3rem;
    }
    .main_add #add_cars {
        margin: auto;
    }
    .form_addcars {
        width: 60%;
        height: 70vh;
    }
    .form_editcars {
        width: 60%;
        height: 70vh;
    }
    #edit_cars h1 {
        font-size: 2rem;
    }
    #add_cars h1 {
        font-size: 2rem;
    }
}

/*************** FORM ***************/
/***** mobile 480px *****/
@media only screen and (max-width:480px) {
	.form_login {
		width: 80%;
	}
	.form_register {
		width: 80%;
	}
	.form_contact {
		width: 80%;
	}
	.form_dashboard {
		width:80%
	}
}

/***** tablette 481px - 960px *****/
@media only screen and (min-width:481px) and (max-width:960px){
	.form_login {
		width: 60%;
	}
	.form_register {
		width: 60%;
	}
	.form_contact {
		width: 50%;
	}
	.form_dashboard {
		width:60%
	}
}
