@charset "UTF-8";
/****** Variables ******/
/******** Mixins ********/
/******** blocks ********/
#cars {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto;
}

#cars .img {
  -webkit-transition: 0.3s ease-in-out;
  -webkit-transform: scale(1);
  transition: 0.3s ease-in-out;
  transform: scale(1);
  margin: 0 10px;
  width: 100%;
  text-align: center;
  display: block;
  margin: auto;
}

#cars .img:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

footer img:hover, .header_dashboard .member img:hover, .header_visiteur .member img:hover {
  -webkit-transform: scale(1);
  transform: scale(1.1);
}

.form_login button, .form_register button, .contact button, .form_dashboard button {
  background: none;
  width: 100%;
  border: 2px solid red;
  color: white;
  padding: 1rem;
  margin: 1rem auto;
  cursor: pointer;
}
.form_login button:hover, .form_register button:hover, .contact button:hover, .form_dashboard button:hover {
  background-color: black;
}

.form_login input, .form_register input, .contact input, .form_editcars input, .form_dashboard input {
  background: none;
  border: none;
  outline: none;
  font-size: 2rem;
  color: white;
  width: 100%;
}

.form_login .email, .form_login .password, .form_register .mail, .form_register .password, .form_register .pseudo, .contact .mail, .contact .message, .form_dashboard .content, .form_dashboard .price, .form_dashboard .title {
  width: 100%;
  color: white;
  display: flex;
  overflow: hidden;
  font-size: 2rem;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid red;
}

.header_dashboard, .header_visiteur {
  background-position: 45% 28%;
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  padding: 5rem;
  color: white;
  margin: auto;
}
.header_dashboard .nav, .header_visiteur .nav {
  justify-content: space-around;
  display: flex;
  align-items: baseline;
}
.header_dashboard .nav nav, .header_visiteur .nav nav {
  justify-content: flex-end;
  text-transform: uppercase;
  flex-direction: row;
  letter-spacing: 1px;
  margin-bottom: -73px;
  display: flex;
  padding: 2.5rem 0;
  text-align: center;
  margin: 10px;
}
.header_dashboard .nav nav a, .header_visiteur .nav nav a {
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  font-family: "Amaranth";
  color: white;
  padding: 1rem 1.5rem;
  size: 2rem;
}
.header_dashboard .nav nav a:hover, .header_visiteur .nav nav a:hover {
  background-color: red;
  color: white;
}
.header_dashboard .member, .header_visiteur .member {
  -webkit-box-align: center;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  align-items: center;
  text-align: center;
  margin-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header_dashboard .member img, .header_visiteur .member img {
  margin-left: 4rem;
  width: 9rem;
}
.header_dashboard .nav .member h2:hover, .header_visiteur .nav .member h2:hover {
  color: red;
}

footer h2:hover, #product_only .btn:hover, #cars #product .btn:hover {
  color: red;
}

#product_only .btn, #cars #product .btn {
  background-color: black;
  text-transform: uppercase;
  display: inline-block;
  color: white;
  letter-spacing: 0.2rem;
  padding: 1.5rem 2rem;
  margin: 1rem 0;
  text-align: center;
}
.main_d, .main_c {
  margin: 20px auto;
  width: 80%;
  text-align: center;
}

.main_d .detail, .main_c .commande {
  border-collapse: collapse;
  text-align: center;
  margin: 50px auto;
  color: white;
}
.main_d .detail th, .main_c .commande th, .main_d .detail td, .main_c .commande td {
  border: 1px solid blue;
  width: 20rem;
  padding: 1rem;
}

/*************************************************/
/********************* GLOBAL ********************/
/*************************************************/
* {
  text-decoration: none;
  box-sizing: border-box;
  transition: all 0.1s ease 0s;
  margin: 0px;
  padding: 0px;
  outline: none;
}

html {
  font-size: 62.5%;
}
html body {
  background-repeat: no-repeat;
  background-color: #1C1F23;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  line-height: 1.6;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Open Sans", Arial, sans-serif;
}
html img {
  max-width: 100%;
}
html a, html p, html span {
  color: white;
}

*:hover {
  transition: all 0.3s ease 0s;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

.container {
  width: 60%;
  margin: 0 auto;
}

h1, h2 {
  color: white;
}

/***** DASHBORD *****/
/***** FORMULAIRES *****/
/***************************************************/
/*********************** MAIN **********************/
/***************************************************/
/***** HEADER VISITEUR *****/
/***** SLIDER *****/
#slider {
  text-align: center;
  margin-top: 25px;
  border: 20px solid black;
  margin: 20px auto;
}

/***** Nos services *****/
#article {
  justify-content: space-between;
  margin: 4rem auto;
  display: flex;
  text-align: center;
}
#article article {
  width: 30%;
}
#article .fa {
  color: white;
}

/***** Véhicule index / Véhicule catégory *****/
#cars #product {
  margin-bottom: 2rem;
  text-align: center;
  border: 10px solid black;
  display: block;
  width: 40%;
}
#cars #product .description {
  text-align: center;
  margin: auto;
  width: 100%;
}
/***** Véhicule seul *****/
#product_only {
  text-align: center;
  border: 10px ridge goldenrod;
  display: block;
  margin: 2rem auto;
  padding: 2rem;
  width: 80%;
}
#product_only h2, #product_only h3 {
  text-transform: uppercase;
  color: goldenrod;
}
/*************************************************/
/******************* DASHBOARD *******************/
/*************************************************/
/***** HEADER_DASHBOARD *****/
/***** ASIDE *****/
.aside {
  display: block;
  border-collapse: collapse;
  background-color: black;
  width: 20%;
  height: 80vh;
  padding-bottom: 5rem;
}
.aside thead tr td {
  padding: 1rem;
  border: none;
}
.aside tfoot td {
  padding-bottom: 10rem;
}
.aside tbody tr td {
  text-align: center;
  border: 1px solid black;
  padding: 1rem;
  font-size: 2rem;
}

/********** MAIN DASHBORD ***********/
#bar {
  display: none;
}

.dashbord {
  display: flex;
}
.dashbord .main {
  width: 80%;
}
.dashbord .main h1 {
  margin-top: 1rem;
  text-align: center;
}
.dashbord .main .perso {
  border-collapse: collapse;
  width: 80%;
  text-align: center;
  margin: 50px auto;
}
.dashbord .main .perso th {
  border: 1px solid red;
  width: 60rem;
  padding: 1rem;
}
.dashbord .main .perso td {
  border: 1px solid red;
  width: 60rem;
  padding: 1rem;
}

/***** véhicule commandé *****/
.main_c .commande a {
  text-decoration: underline;
  cursor: pointer;
}

/***** Détail véhicule commander *****/
.main_d .detail img {
  width: 20rem;
}

/***** véhicule en vente / modifier un véhicule*****/
.main #cars #product {
  margin-bottom: 2rem;
  text-align: center;
  border: 10px solid black;
  display: block;
  width: 25%;
}

/***** ajouter un véhicule *****/
.form_dashboard {
  background-color: rgba(255, 255, 255, 0.404);
  border-radius: 10px;
  margin: 7rem auto;
  width: 35%;
  padding: 30px 30px;
  text-align: center;
  height: 50vh;
}
.form_dashboard table {
  margin: auto;
}
.form_dashboard td {
  margin-bottom: 5rem;
}
.form_dashboard textarea {
  border: none;
  outline: none;
  background: none;
  font-size: 2rem;
  color: white;
  width: 100%;
}
.form_dashboard #name_addcars::placeholder, .form_dashboard #description_addcars::placeholder, .form_dashboard #price_addcars::placeholder {
  color: rgba(255, 255, 255, 0.404);
}
.form_dashboard #name_editcars::placeholder, .form_dashboard #description_editcars::placeholder, .form_dashboard #price_editcars::placeholder {
  color: rgba(255, 255, 255, 0.404);
}
/***** modifier un véhicule *****/
.form_editcars {
  background-color: rgba(255, 255, 255, 0.404);
  border-radius: 10px;
  margin: 7rem auto;
  width: 35%;
  padding: 30px 30px;
  text-align: center;
  height: 50vh;
}
.form_editcars table {
  margin: auto;
}
/*************************************************/
/********************* CONTACT *******************/
/*************************************************/
.contact {
  background-color: rgba(0, 0, 0, 0.404);
  border-radius: 10px;
  margin: 7rem auto;
  width: 60%;
  padding: 30px 30px;
  text-align: center;
}
.contact table {
  margin: auto;
}
.contact .mail textarea, .contact .message textarea {
  border: none;
  outline: none;
  background: none;
  font-size: 2rem;
  color: white;
  width: 100%;
}
.contact table {
  margin: auto;
}
.liste_commentaire {
  color: black;
  border: 1px solid white;
  margin: 4rem auto;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.4);
}
.liste_commentaire th {
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px solid white;
}
.liste_commentaire td {
  border: 1px solid white;
  width: 200px;
}
.liste_commentaire .message {
  width: 50rem;
}

/**************************************************/
/********************* REGISTER *******************/
/**************************************************/
.form_register {
  background-color: rgba(255, 255, 255, 0.404);
  border-radius: 10px;
  margin: 7rem auto;
  width: 35%;
  padding: 30px 30px;
  text-align: center;
}
.form_register table {
  margin: auto;
}
.form_register table {
  margin: auto;
}
.form_register #pseudo_register::placeholder, .form_register #mail_register::placeholder, .form_register #password1_register::placeholder, .form_register #password2_register::placeholder {
  color: rgba(255, 255, 255, 0.404);
}
/*************************************************/
/********************* LOGIN *********************/
/*************************************************/
.form_login {
  background-color: rgba(0, 0, 0, 0.404);
  border-radius: 10px;
  margin: 7rem auto;
  width: 35%;
  padding: 30px 30px;
  text-align: center;
}
.form_login table {
  margin: auto;
}
.form_login h1 {
  color: white;
}
/*************************************************/
/********************* FOOTER ********************/
/*************************************************/
footer {
  background-position: top;
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  text-align: center;
  width: 100%;
  color: white;
  padding: 2rem;
}
footer img {
  width: 20rem;
}

/*# sourceMappingURL=default.css.map */
